# Image Builder
CONFIG_IB=y
CONFIG_IB_STANDALONE=y
CONFIG_DEVEL=y

# File System Drivers
CONFIG_DEFAULT_kmod-fs-autofs4=y
CONFIG_DEFAULT_kmod-fs-btrfs=y
CONFIG_DEFAULT_kmod-fs-cifs=y
CONFIG_DEFAULT_kmod-fs-exfat=y
CONFIG_DEFAULT_kmod-fs-exportfs=y
CONFIG_DEFAULT_kmod-fs-ext4=y
CONFIG_DEFAULT_kmod-fs-f2fs=y
CONFIG_DEFAULT_kmod-fs-hfs=y
CONFIG_DEFAULT_kmod-fs-hfsplus=y
CONFIG_DEFAULT_kmod-fs-isofs=y
CONFIG_DEFAULT_kmod-fs-msdos=y
CONFIG_DEFAULT_kmod-fs-nfs=y
CONFIG_DEFAULT_kmod-fs-nfs-common=y
CONFIG_DEFAULT_kmod-fs-nfs-common-rpcsec=y
CONFIG_DEFAULT_kmod-fs-nfs-v3=y
CONFIG_DEFAULT_kmod-fs-nfs-v4=y
CONFIG_DEFAULT_kmod-fs-nfsd=y
CONFIG_DEFAULT_kmod-fs-ntfs3=y
CONFIG_DEFAULT_kmod-fs-smbfs-common=y
CONFIG_DEFAULT_kmod-fs-squashfs=y
CONFIG_DEFAULT_kmod-fs-udf=y
CONFIG_DEFAULT_kmod-fs-vfat=y
CONFIG_DEFAULT_kmod-fs-xfs=y
CONFIG_DEFAULT_kmod-fuse=y

# USB Storage Drivers
CONFIG_DEFAULT_kmod-usb-ohci=y
CONFIG_DEFAULT_kmod-usb-printer=y
CONFIG_DEFAULT_kmod-usb-roles=y
CONFIG_DEFAULT_kmod-usb-serial-ch341=y
CONFIG_DEFAULT_kmod-usb-serial-cp210x=y
CONFIG_DEFAULT_kmod-usb-serial-ftdi=y
CONFIG_DEFAULT_kmod-usb-serial-ipw=y
CONFIG_DEFAULT_kmod-usb-serial-pl2303=y
CONFIG_DEFAULT_kmod-usb-serial-qualcomm=y
CONFIG_DEFAULT_kmod-usb-serial-sierrawireless=y
CONFIG_DEFAULT_kmod-usb-storage=y
CONFIG_DEFAULT_kmod-usb-storage-extras=y
CONFIG_DEFAULT_kmod-usb-uhci=y
CONFIG_DEFAULT_kmod-usb-wdm=y
CONFIG_DEFAULT_kmod-usb-xhci-hcd=y
CONFIG_DEFAULT_kmod-usb2=y
CONFIG_DEFAULT_kmod-usb3=y
CONFIG_DEFAULT_kmod-usbip=y
CONFIG_DEFAULT_kmod-usbip-client=y
CONFIG_DEFAULT_kmod-usbip-server=y
CONFIG_DEFAULT_kmod-usbmon=y

# USB Net Drivers
CONFIG_DEFAULT_kmod-usb-audio=y
CONFIG_DEFAULT_kmod-usb-core=y
CONFIG_DEFAULT_kmod-usb-dwc2=y
CONFIG_DEFAULT_kmod-usb-dwc3=y
CONFIG_DEFAULT_kmod-usb-ehci=y
CONFIG_DEFAULT_kmod-usb-hid=y
CONFIG_DEFAULT_kmod-usb-net=y
CONFIG_DEFAULT_kmod-usb-net-asix=y
CONFIG_DEFAULT_kmod-usb-net-asix-ax88179=y
CONFIG_DEFAULT_kmod-usb-net-cdc-eem=y
CONFIG_DEFAULT_kmod-usb-net-cdc-ether=y
CONFIG_DEFAULT_kmod-usb-net-cdc-mbim=y
CONFIG_DEFAULT_kmod-usb-net-cdc-ncm=y
CONFIG_DEFAULT_kmod-usb-net-cdc-subset=y
CONFIG_DEFAULT_kmod-usb-net-dm9601-ether=y
CONFIG_DEFAULT_kmod-usb-net-hso=y
CONFIG_DEFAULT_kmod-usb-net-huawei-cdc-ncm=y
CONFIG_DEFAULT_kmod-usb-net-ipheth=y
CONFIG_DEFAULT_kmod-usb-net-kalmia=y
CONFIG_DEFAULT_kmod-usb-net-kaweth=y
CONFIG_DEFAULT_kmod-usb-net-mcs7830=y
CONFIG_DEFAULT_kmod-usb-net-pegasus=y
CONFIG_DEFAULT_kmod-usb-net-pl=y
CONFIG_DEFAULT_kmod-usb-net-qmi-wwan=y
CONFIG_DEFAULT_kmod-usb-net-rndis=y
CONFIG_DEFAULT_kmod-usb-net-rtl8150=y
CONFIG_DEFAULT_kmod-usb-net-rtl8152=y
CONFIG_DEFAULT_kmod-usb-net-sierrawireless=y
CONFIG_DEFAULT_kmod-usb-net-smsc95xx=y
CONFIG_DEFAULT_kmod-usb-net-sr9700=y

# USB Wireless Card Drivers
CONFIG_DEFAULT_kmod-ath=y
CONFIG_DEFAULT_kmod-ath10k=y
CONFIG_DEFAULT_kmod-ath10k-pci=y
CONFIG_DEFAULT_kmod-ath11k=y
CONFIG_DEFAULT_kmod-ath11k-pci=y
CONFIG_DEFAULT_kmod-ath5k=y
CONFIG_DEFAULT_kmod-ath9k=y
CONFIG_DEFAULT_kmod-ath9k-htc=y
CONFIG_DEFAULT_kmod-ath9k-common=y
CONFIG_DEFAULT_kmod-brcmfmac=y
CONFIG_DEFAULT_kmod-brcmutil=y
CONFIG_DEFAULT_kmod-carl9170=y
CONFIG_DEFAULT_kmod-cfg80211=y
CONFIG_DEFAULT_kmod-iwlwifi=y
CONFIG_DEFAULT_kmod-mac80211=y
CONFIG_DEFAULT_kmod-mt76-connac=y
CONFIG_DEFAULT_kmod-mt76-core=y
CONFIG_DEFAULT_kmod-mt76-usb=y
CONFIG_DEFAULT_kmod-mt7601u=y
CONFIG_DEFAULT_kmod-mt7615-common=y
CONFIG_DEFAULT_kmod-mt7615e=y
CONFIG_DEFAULT_kmod-mt7663-usb-sdio=y
CONFIG_DEFAULT_kmod-mt7663u=y
CONFIG_DEFAULT_kmod-mt76x0-common=y
CONFIG_DEFAULT_kmod-mt76x02-common=y
CONFIG_DEFAULT_kmod-mt76x02-usb=y
CONFIG_DEFAULT_kmod-mt76x0u=y
CONFIG_DEFAULT_kmod-mt76x2-common=y
CONFIG_DEFAULT_kmod-mt76x2u=y
CONFIG_DEFAULT_kmod-mt7916-firmware=y
CONFIG_DEFAULT_kmod-mt7921-common=y
CONFIG_DEFAULT_kmod-mt7921-firmware=y
CONFIG_DEFAULT_kmod-mt7921e=y
CONFIG_DEFAULT_kmod-mt7922-firmware=y
CONFIG_DEFAULT_kmod-rsi91x=y
CONFIG_DEFAULT_kmod-rsi91x-usb=y
CONFIG_DEFAULT_kmod-rt2800-lib=y
CONFIG_DEFAULT_kmod-rt2800-usb=y
CONFIG_DEFAULT_kmod-rt2x00-lib=y
CONFIG_DEFAULT_kmod-rt2x00-usb=y
CONFIG_DEFAULT_kmod-rtl8192c-common=y
CONFIG_DEFAULT_kmod-rtl8192cu=y
CONFIG_DEFAULT_kmod-rtl8723bs=y
CONFIG_DEFAULT_kmod-rtlwifi=y
CONFIG_DEFAULT_kmod-rtlwifi-usb=y

# Wireless Card Firmware
CONFIG_DEFAULT_ath10k-board-qca9377=y
CONFIG_DEFAULT_ath10k-board-qca9984=y
CONFIG_DEFAULT_ath10k-board-qca99x0=y
CONFIG_DEFAULT_ath10k-firmware-qca6174=y
CONFIG_DEFAULT_ath10k-firmware-qca9377=y
CONFIG_DEFAULT_ath10k-firmware-qca9984=y
CONFIG_DEFAULT_ath10k-firmware-qca99x0=y
CONFIG_DEFAULT_ath11k-firmware-wcn6855=y
CONFIG_DEFAULT_ath9k-htc-firmware=y
CONFIG_DEFAULT_carl9170-firmware=y
CONFIG_DEFAULT_iwlwifi-firmware-ax200=y
CONFIG_DEFAULT_iwlwifi-firmware-ax201=y
CONFIG_DEFAULT_iwlwifi-firmware-ax210=y
CONFIG_DEFAULT_iwlwifi-firmware-iwl3160=y
CONFIG_DEFAULT_iwlwifi-firmware-iwl3168=y
CONFIG_DEFAULT_iwlwifi-firmware-iwl7260=y
CONFIG_DEFAULT_iwlwifi-firmware-iwl7265=y
CONFIG_DEFAULT_iwlwifi-firmware-iwl7265d=y
CONFIG_DEFAULT_iwlwifi-firmware-iwl8260c=y
CONFIG_DEFAULT_iwlwifi-firmware-iwl8265=y
CONFIG_DEFAULT_iwlwifi-firmware-iwl9000=y
CONFIG_DEFAULT_iwlwifi-firmware-iwl9260=y
CONFIG_DEFAULT_mt7601u-firmware=y
CONFIG_DEFAULT_mt7921bt-firmware=y
CONFIG_DEFAULT_mt7922bt-firmware=y
CONFIG_DEFAULT_p54-usb-firmware=y
CONFIG_DEFAULT_r8152-firmware=y
CONFIG_DEFAULT_rs9113-firmware=y
CONFIG_DEFAULT_rt2800-usb-firmware=y
CONFIG_DEFAULT_rt73-usb-firmware=y
CONFIG_DEFAULT_rtl8192cu-firmware=y

# Applications
# Alist
# CONFIG_DEFAULT_luci-app-alist=y
# DNS/广告拦截
CONFIG_DEFAULT_luci-app-adguardhome=y
# argon主题配置
CONFIG_DEFAULT_luci-app-argon-config=y
# 计划重启
CONFIG_DEFAULT_luci-app-autoreboot=y
# SMB/CIFS挂载
CONFIG_DEFAULT_luci-app-cifs-mount=y
CONFIG_DEFAULT_luci-app-cpufreq=y
CONFIG_DEFAULT_luci-app-diskman=y
CONFIG_DEFAULT_luci-app-diskman_INCLUDE_btrfs_progs=y
CONFIG_DEFAULT_luci-app-diskman_INCLUDE_lsblk=y
CONFIG_DEFAULT_luci-app-dockerman=y
# IP限速
CONFIG_DEFAULT_luci-app-eqos=y
# 文件浏览器
CONFIG_DEFAULT_luci-app-filebrowser=y
# 文件传输
CONFIG_DEFAULT_luci-app-filetransfer=y
# 防火墙
CONFIG_DEFAULT_luci-app-firewall=y
# Netdata
CONFIG_DEFAULT_luci-app-netdata=y
# Nps内网穿透
CONFIG_DEFAULT_luci-app-npc=y
# SmartDNS
CONFIG_DEFAULT_luci-app-smartdns=y
# 文件同步
CONFIG_DEFAULT_luci-app-syncthing=y
# TTY
CONFIG_DEFAULT_luci-app-ttyd=y
# Turboacc
CONFIG_DEFAULT_luci-app-turboacc=y
# Ftp
CONFIG_DEFAULT_luci-app-vsftpd=y
# VPN
CONFIG_DEFAULT_luci-app-wireguard=y
# 实时流量监测
CONFIG_DEFAULT_luci-app-wrtbwmon=y
# UU加速器
CONFIG_DEFAULT_luci-app-uugamebooster=y
# UPNP 
CONFIG_DEFAULT_luci-app-upnp=y
# MOSDNS
CONFIG_DEFAULT_luci-app-mosdns=y
# 在线用户
CONFIG_DEFAULT_luci-app-onliner=y
# mosdns
CONFIG_DEFAULT_luci-app-mosdns=y
# passwall
CONFIG_DEFAULT_luci-app-passwall2=y

# Themes
CONFIG_DEFAULT_luci-theme-argon=y

# 3G/4G Support
CONFIG_DEFAULT_comgt-ncm=y
CONFIG_DEFAULT_comgt=y
CONFIG_DEFAULT_kmod-mii=y
CONFIG_DEFAULT_kmod-usb-acm=y
CONFIG_DEFAULT_kmod-usb-serial=y
CONFIG_DEFAULT_kmod-usb-serial-option=y
CONFIG_DEFAULT_kmod-usb-serial-wwan=y
CONFIG_DEFAULT_luci-proto-3g=y
CONFIG_DEFAULT_luci-proto-ncm=y
CONFIG_DEFAULT_luci-proto-qmi=y
CONFIG_DEFAULT_qmi-utils=y
CONFIG_DEFAULT_umbim=y
CONFIG_DEFAULT_uqmi=y
CONFIG_DEFAULT_usb-modeswitch=y

# Python3
CONFIG_DEFAULT_python-pip-conf=y
CONFIG_DEFAULT_python3=y

# Software
CONFIG_DEFAULT_ariang=y
CONFIG_DEFAULT_automount=y
CONFIG_DEFAULT_autosamba=y
CONFIG_DEFAULT_bsdtar=y
CONFIG_DEFAULT_diffutils=y
CONFIG_DEFAULT_docker-compose=y
CONFIG_DEFAULT_e2fsprogs=y
CONFIG_DEFAULT_f2fs-tools=y
CONFIG_DEFAULT_f2fsck=y
CONFIG_DEFAULT_fdisk=y
CONFIG_DEFAULT_gpiod-tools=y
CONFIG_DEFAULT_gzip=y
CONFIG_DEFAULT_hostapd-common=y
CONFIG_DEFAULT_htop=y
CONFIG_DEFAULT_iperf3=y
CONFIG_DEFAULT_lsblk=y
CONFIG_DEFAULT_lscpu=y
CONFIG_DEFAULT_nano-plus=y
CONFIG_DEFAULT_nginx=y
CONFIG_DEFAULT_openssh-sftp-client=y
CONFIG_DEFAULT_openssh-sftp-server=y
CONFIG_DEFAULT_resize2fs=y
CONFIG_DEFAULT_snmpd=y
CONFIG_DEFAULT_tmux=y
CONFIG_DEFAULT_tree=y
CONFIG_DEFAULT_unzip=y
CONFIG_DEFAULT_usbutils=y
CONFIG_DEFAULT_vim-fuller=y
CONFIG_DEFAULT_whereis=y
CONFIG_DEFAULT_wireless-tools=y
CONFIG_DEFAULT_wpad-openssl=y
CONFIG_DEFAULT_zsh=y

# git
CONFIG_DEFAULT_git=y
CONFIG_DEFAULT_git-http=y
CONFIG_DEFAULT_ca-certificates=y

# Shortcut-Fe
CONFIG_DEFAULT_kmod-shortcut-fe=y
CONFIG_DEFAULT_kmod-shortcut-fe-cm=y

# Ipv6 Support
CONFIG_DEFAULT_6in4=y
CONFIG_DEFAULT_ipv6helper=y
CONFIG_DEFAULT_ip6tables=y
CONFIG_DEFAULT_ip6tables-extra=y
CONFIG_DEFAULT_ip6tables-mod-nat=y

# jq
CONFIG_DEFAULT_jq=y
#impitool
CONFIG_DEFAULT_ipmitool=y
#mdns
CONFIG_DEFAULT_umdns=y
#wireguard
CONFIG_DEFAULT_kmod-wireguard=y
CONFIG_DEFAULT_wireguard-tools=y
CONFIG_DEFAULT_luci-proto-wireguard=y
