# Applications
# Alist
# CONFIG_PACKAGE_luci-app-alist=y
# DNS/广告拦截
CONFIG_PACKAGE_luci-app-adguardhome=y
# argon主题配置
# CONFIG_PACKAGE_luci-app-argon-config=y
# 计划重启
CONFIG_PACKAGE_luci-app-autoreboot=y
# SMB/CIFS挂载
CONFIG_PACKAGE_luci-app-cifs-mount=y
CONFIG_PACKAGE_luci-app-cpufreq=y
# CONFIG_PACKAGE_luci-app-diskman=y
# CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs=y
# CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk=y
# CONFIG_PACKAGE_luci-app-dockerman=y
# IP限速
CONFIG_PACKAGE_luci-app-eqos=y
# 文件浏览器
CONFIG_PACKAGE_luci-app-filebrowser=y
# 文件传输
CONFIG_PACKAGE_luci-app-filetransfer=y
# 防火墙
CONFIG_PACKAGE_luci-app-firewall=y
# Netdata
CONFIG_PACKAGE_luci-app-netdata=y
# Nps内网穿透
CONFIG_PACKAGE_luci-app-npc=y
# SmartDNS
CONFIG_PACKAGE_luci-app-smartdns=y
# 文件同步
CONFIG_PACKAGE_luci-app-syncthing=y
# TTY
CONFIG_PACKAGE_luci-app-ttyd=y
# Turboacc
CONFIG_PACKAGE_luci-app-turboacc=y
# Ftp
CONFIG_PACKAGE_luci-app-vsftpd=y
# VPN
CONFIG_PACKAGE_luci-app-wireguard=y
# 实时流量监测
CONFIG_PACKAGE_luci-app-wrtbwmon=y
# UU加速器
# CONFIG_PACKAGE_luci-app-uugamebooster=y
# UPNP 
CONFIG_PACKAGE_luci-app-upnp=y
# MOSDNS
CONFIG_PACKAGE_luci-app-mosdns=y
# 在线用户
CONFIG_PACKAGE_luci-app-onliner=y
# passwall
CONFIG_PACKAGE_luci-app-passwall2=y
# Themes
CONFIG_PACKAGE_luci-theme-argon=y

# jq
CONFIG_PACKAGE_jq=y
#impitool
CONFIG_PACKAGE_ipmitool=y
#mdns
CONFIG_PACKAGE_umdns=y
#wireguard
CONFIG_PACKAGE_kmod-wireguard=y
CONFIG_PACKAGE_wireguard-tools=y
CONFIG_PACKAGE_luci-proto-wireguard=y
